$bgColor: #0F1012;
$bgBody: #F4F4F4;
$bgList: rgba(18, 100, 126, 0.94);
$colorAgakPutih: rgba(248, 243, 243, 0.96);
$audioWidth: 360px;
@mixin image-sprite($posX, $posY) {
    background: url('../image/buttonIcons.jpg') $posX $posY;
    background-size: 450px;
}
@mixin skin-style() {
    width: 420px;
    background-color: $bgColor;
    top: 10px;
    margin: 0 auto;
    position: relative;
    border: 4px groove rgba(79, 91, 107, 0.45);
    display: block;
}
@mixin round-images-corner($radius) {
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
@mixin radius-elements-opacity($radius) {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.916;
}
@mixin radius-elements($radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin set-shadow($op) {
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(83, 76, 78, 0.89);
    -moz-box-shadow:    inset 0px 0px 15px 0px rgba(83, 76, 78, 0.89);
    box-shadow:         inset 0px 0px 15px 0px rgba(83, 76, 78, 0.89);
    -webkit-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}