@import "variables";
body {
    background-color: $bgBody;
}
div#playlist {
    @include skin-style();
    min-height: 250px;
    height: auto;
    margin-top: -5px;
    
    ul#tracks {
        margin: 0 auto;
        padding: 0;
        width: 99%;
        
        li {
            width: 98%;
            height: 31px;
            list-style: none;
            margin: 2px;
            padding: 1px;
            background-color: $bgList;
            color: $colorAgakPutih;
            font-size: 11pt;
            line-height: 30px;
        }
    }
}
audio#player {
    @include skin-style();
    min-height: 40px;
    padding-bottom: 6px !important;
    height: auto;
    border-bottom: none;
}
div.controls {
    @include skin-style();
    height: 28px;
    padding: 4px 0;
    border-bottom: none;
    
    div {
        width: 22.6px;
        height: 22px;
        margin: 0 2px;
        padding: 0 !important;
        cursor: pointer;
        display: inline-block;
        position: relative;
        top: 2px;
        left: 20%;
        opacity: 0.8649;
        @include radius-elements-opacity(4px);
    }
    #prevList {
        @include image-sprite(179px, -103px);
    }
    #backward {
        @include image-sprite(149px, -103px);
    }
    #forward {
        @include image-sprite(32px, -103px);
    }
    #nextList {
        @include image-sprite(-7px, -128px);
    }
    #repeats {
        @include image-sprite(-273px, -178px);
    }
    #stop {
        @include image-sprite(-389px, -103px);
    }
    #replay {
        @include image-sprite(-418px, -29px);
    }
    .repeated {
        @include set-shadow(0.8934);
    }
}